.smartlink {
  &:before {
    content: "check";
    position: absolute;
    left: -60px;
    font-size: 2rem;
    padding: 3px;
    @extend .u-material-icons;
    color: rgba($main-color, .2);
  }

  &:hover { background-color: rgba($main-color, .1); }
  &:hover:before { color: rgba($accent-color, .8); }

  &.js-active:before { content: "bookmark"; }

  &--footnote:before { content: "bookmark_border"; }
  &--article:before { content: "subject"; }
  &--video:before { content: "play_circle_filled"; }
    
}

.smartlink-anchor {
  position: relative;
  margin: 0 auto;
  max-width: 800px;
}

.smartlink-wrapper {
  ol, ul {
    list-style: none;
    padding: 0 0 0 40px;
  }
}

.smartlink-content {
  font-size: .85rem;
  position: absolute;
  z-index: 100;
  text-align: right;
  width: 240px;
  margin: 0;
  padding: 0;
  opacity: 0;
  pointer-events: none;
  left: -40px;
  @extend .u-transition;

  &.js-active {
    @extend .u-transition;
    opacity: 1;
    pointer-events: all;
    left: -120px;
  }
  
  p {
    font-family: $sans-serif;
    font-size: .9rem;
    line-height: 1.5;
    &:first-child { margin-top: 0; }
    &:last-child { margin-bottom: 0; }
  }

  a {
    border-bottom: 1px solid rgba($main-color, .3);
    &:hover {
      background-color: rgba($main-color, .2);
    }
  }
}

